<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>848036940248-qg6e9b52nu3erar9tg0ia1ksioukaks4.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.848036940248-qg6e9b52nu3erar9tg0ia1ksioukaks4</string>
	<key>API_KEY</key>
	<string>AIzaSyBVV3v8ZE89PKX2zCq3RyK2J9agZMo0fR4</string>
	<key>GCM_SENDER_ID</key>
	<string>848036940248</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.example.flutterApplicationFirenbaseSample</string>
	<key>PROJECT_ID</key>
	<string>flutter-sample-16f9a</string>
	<key>STORAGE_BUCKET</key>
	<string>flutter-sample-16f9a.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:848036940248:ios:c502eb83e7931439d48aad</string>
</dict>
</plist>